---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Selección de Tecnologías Personalizadas",
    description:
      "He desarrollado sitios web utilizando una variedad de tecnologías como React, Svelte, Vue, Preact, componentes web, o simplemente HTML y JavaScript, adaptándolas a las necesidades específicas de cada proyecto.",
    icon: "mdi:handshake",
  },
  {
    title: "Creación de Sitios Web Estáticos",
    description:
      "Implementé en mis proyectos la generación de sitios web completamente estáticos, eliminando el JavaScript en la compilación final para mejorar el rendimiento y la seguridad.",
    icon: "mdi:feather",
  },
  {
    title: "Experiencia de Usuario Interactiva",
    description:
      "Optimicé la experiencia de usuario incorporando componentes interactivos que se cargan automáticamente cuando son visibles en la página, mejorando la eficiencia y la interacción.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Integración de Diversas Tecnologías",
    description:
      "Logré una exitosa integración de tecnologías como TypeScript, CSS con alcance, Módulos CSS, Sass, Tailwind, Markdown, MDX y otros paquetes npm en mis proyectos, garantizando flexibilidad y eficacia en el desarrollo.",
    icon: "mdi:graph",
  },
  {
    title: "Optimización para Motores de Búsqueda (SEO)",
    description:
      "Implementé estrategias de optimización para motores de búsqueda, incluyendo la generación automática de mapas de sitio, fuentes RSS, paginación y colecciones para mejorar la visibilidad y el rendimiento en los motores de búsqueda.",
    icon: "mdi:search-web",
  },
  {
    title: "Colaboración en Comunidades de Desarrollo",
    description:
      "Contribuí activamente a proyectos de código abierto, participando en comunidades con cientos de colaboradores y realizando miles de contribuciones individuales. Esto me permitió aprender y aportar en un entorno colaborativo.",
    icon: "mdi:account-group",
  },
];

---

<ContentSection title="Yo" id="Yovan">
  <Fragment slot="lead">
    Yovan Enovore <span class="text-primary">desarrollador de software profesional</span> Listo para mejorar
    <span class="text-primary">su presencia en la www</span>
     obteniendo clientes <span class="text-primary">desde cualquier lado del mundo</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
